body{
    background-color: black;
}
.element{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: cadetblue;
    top: 250px;
    left: 630px;
    margin-top: -30px;
    transform-origin: 0 50px;
    border-radius: 50%;
 }
 .element1{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: greenyellow;
    top: 150px;
    left: 630px;
    margin-top: -30px;
    transform-origin: 0 150px;
    border-radius: 50%;
 }
 /*inner elements*/
 .e1{
    animation: 6s  infinite load1 ;
 }
 .e2{
    animation: 6s infinite load2 ;
 }
 .e3{
    animation: 6s infinite load3 ;
 }
 .e4{
    animation: 6s infinite load4 ;
 }
 .e5{
    animation: 6s infinite load5 ;
 }
 .e6{
    animation: 6s infinite load6 ;
 }
 .e7{
    animation: 6s infinite load7 ;
 }
 .e8{
    animation: 6s infinite load8 ;
 }
 /*Outer Elements*/

 .e11{
    animation: 6s  infinite load11 ;
 }
 .e21{
    animation: 6s infinite load21 ;
 }
 .e31{
    animation: 6s infinite load31 ;
 }
 .e41{
    animation: 6s infinite load41 ;
 }
 .e51{
    animation: 6s infinite load51 ;
 }
 .e61{
    animation: 6s infinite load61 ;
 }
 .e71{
    animation: 6s infinite load71 ;
 }
 .e81{
    animation: 6s infinite load81 ;
 }
/*Scale Change Animations*/
 @keyframes load1{
    0%{
        transform: rotate(0deg) scale(1);
    }
    25%{
        transform: rotate(90deg) scale(1.5);
    }
    50%{
        transform: rotate(180deg) scale(1);
    }
    75%{
        transform: rotate(270deg) scale(1.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}
@keyframes load2{
    0%{
        transform: rotate(45deg) scale(1.5);
    }
    25%{
        transform: rotate(135deg) scale(1);
    }
    50%{
        transform: rotate(225deg) scale(1.5);
    }
    75%{
        transform: rotate(315deg) scale(1);
    }
    100%{
        transform: rotate(405deg) scale(1.5);
    }
}
@keyframes load3{

    0%{
        transform: rotate(90deg) scale(1);
    }
    25%{
        transform: rotate(180deg) scale(1.5);
    }
    50%{
        transform: rotate(270deg) scale(1);
    }
    75%{
        transform: rotate(360deg) scale(1.5);
    }
    100%{
        transform: rotate(450deg) scale(1);
    }
}
@keyframes load4{
    0%{
        transform: rotate(135deg) scale(1.5);
    }
    25%{
        transform: rotate(225deg) scale(1);
    }
    50%{
        transform: rotate(315deg) scale(1.5);
    }
    75%{
        transform: rotate(405deg) scale(1);
    }
    100%{
        transform: rotate(495deg) scale(1.5);
    }
}
@keyframes load5{
    0%{
        transform: rotate(180deg) scale(1);
    }
    25%{
        transform: rotate(270deg) scale(1.5);
    }
    50%{
        transform: rotate(360deg) scale(1);
    }
    75%{
        transform: rotate(450deg) scale(1.5);
    }
    100%{
        transform: rotate(540deg) scale(1);
    }
}
@keyframes load6{
    0%{
        transform: rotate(225deg) scale(1.5);
    }
    25%{
        transform: rotate(315deg) scale(1);
    }
    50%{
        transform: rotate(405deg) scale(1.5);
    }
    75%{
        transform: rotate(495deg) scale(1);
    }
    100%{
        transform: rotate(585deg) scale(1.5);
    }
}
@keyframes load7{
    0%{
        transform: rotate(270deg) scale(1);
    }
    25%{
        transform: rotate(360deg) scale(1.5);
    }
    50%{
        transform: rotate(450deg) scale(1);
    }
    75%{
        transform: rotate(540deg) scale(1.5);
    }
    100%{
        transform: rotate(630deg) scale(1);
    }
}
@keyframes load8{
    0%{
        transform: rotate(315deg) scale(1.5);
    }
    25%{
        transform: rotate(405deg) scale(1);
    }
    50%{
        transform: rotate(495deg) scale(1.5);
    }
    75%{
        transform: rotate(585deg) scale(1);
    }
    100%{
        transform: rotate(675deg) scale(1.5);
    }
}

/*No scale change*/

@keyframes load11{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes load21{
    0%{
        transform: rotate(45deg);
    }
    25%{
        transform: rotate(135deg);
    }
    50%{
        transform: rotate(225deg);
    }
    75%{
        transform: rotate(315deg);
    }
    100%{
        transform: rotate(405deg);
    }
}
@keyframes load31{

    0%{
        transform: rotate(90deg);
    }
    25%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(270deg);
    }
    75%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(450deg);
    }
}
@keyframes load41{
    0%{
        transform: rotate(135deg);
    }
    25%{
        transform: rotate(225deg);
    }
    50%{
        transform: rotate(315deg);
    }
    75%{
        transform: rotate(405deg);
    }
    100%{
        transform: rotate(495deg);
    }
}
@keyframes load51{
    0%{
        transform: rotate(180deg);
    }
    25%{
        transform: rotate(270deg);
    }
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(450deg);
    }
    100%{
        transform: rotate(540deg);
    }
}
@keyframes load61{
    0%{
        transform: rotate(225deg);
    }
    25%{
        transform: rotate(315deg);
    }
    50%{
        transform: rotate(405deg);
    }
    75%{
        transform: rotate(495deg);
    }
    100%{
        transform: rotate(585deg);
    }
}
@keyframes load71{
    0%{
        transform: rotate(270deg);
    }
    25%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(450deg);
    }
    75%{
        transform: rotate(540deg);
    }
    100%{
        transform: rotate(630deg);
    }
}
@keyframes load81{
    0%{
        transform: rotate(315deg);
    }
    25%{
        transform: rotate(405deg);
    }
    50%{
        transform: rotate(495deg);
    }
    75%{
        transform: rotate(585deg);
    }
    100%{
        transform: rotate(675deg);
    }
}

